@import url('https://wiki.gentoo.org/load.php?debug=false&lang=en&modules=ext.echo.badgeicons%7Cext.echo.styles.badge%7Cext.uls.nojs%7Cmediawiki.legacy.commonPrint%2Cshared%7Cmediawiki.sectionAnchor%7Cmediawiki.skinning.interface%7Cskins.tyrian.styles&only=styles&skin=tyrian');
@import url('https://assets.gentoo.org/tyrian/bootstrap.min.css');
@import url('https://assets.gentoo.org/tyrian/tyrian.min.css');

.date-column { min-width: 10em; }
.empty { background: repeating-linear-gradient(-45deg, white, white 4px, gray 5px, white 6px); }
.term-start { border-top: 2px solid #aaa; }

.agriffis { background: yellow; }
.alicef { background: aliceblue; }
.amne { }
.antarus { background: mediumslateblue; color: white; }
.avenj { }
.azarah { background: indigo; color: white; }
.betelgeuse { background: blueviolet; color: white; }
.blueness { background: blue; color: white; }
.calchan { }
.cardoe { }
.carpaski { background: cyan; }
.chainsaw { background: chartreuse; }
.cshields { background: greenyellow; }
.dabbott { background: slategray; color: white; }
.dberkholz { background: cadetblue; color: white; }
.dertobi123 { background: darkgreen; color: white; }
.dilfridge { background: aliceblue; }
.dmwaters { background: thistle; }
.dostrow { }
.drobbins { background: lightskyblue; }
.ferringb { background: saddlebrown; color: white }
.flameeyes { background: darkseagreen; }
.fmccor { }
.g2boojum { background: dimgray; color: white; }
.grobian { background: cornflowerblue; color: white; }
.gyakovlev { }
.halcy0n { background: darkgoldenrod; color: white; }
.hwoarang { }
.iggy { }
.jaervosz { background: lemonchiffon; }
.jhuebel { }
.jlec { background: chocolate; }
.jmbsvicetto { background: darkcyan; color: white; }
.jokey { background: fuchsia; }
.kensington { }
.k_f { background: antiquewhite; }
.kingtaco { }
.klieber { background: seagreen; color: white; }
.kloeri { }
.klondike { }
.koon { background: orangered; color: white; }
.kugelfang { }
.kumba { }
.leio { background: darkmagenta; color: white; }
.lu_zero { background: crimson; color: white; }
.method { background: black; color: white; }
.mgorny { }
.neddyseagoon { background: limegreen; }
.patrick { background: deeppink; }
.pauldv { background: lightgray; }
.pfeifer { }
.prometheanfire { background: mediumseagreen; color: white; }
.pvdabeel { background: mediumturquoise; }
.pylon { }
.quantumsummers { background: mediumaquamarine; }
.radhermit { }
.ramereth { background: mediumvioletred; color: white; }
.rich0 { background: brown; color: white; }
.robbat2 { background: lightblue; }
.scarabeus { background: coral; }
.seemant { background: lavender; }
.slyfox { background: mediumorchid; color: white; }
.solar { background: darkorange; }
.swift { background: khaki; }
.tamiko { }
.tgall { }
.tsunam { background: navy; color: white; }
.uberlord { background: gold; }
.ulm { background: aquamarine; }
.vapier { background: darkolivegreen; color: white; }
.whissi { background: darkkhaki; }
.williamh { background: bisque; }
.wired { }
.wltjr { }
.wolf31o2 { background: royalblue; color: white;} 
.zhen { background: lightcoral; }
.zlg { }
